@use "sass:map";
@use "sass:list";

// 间距
$spacer: (
  s1: "4px",
  s2: "8px",
  s3: "12px",
  s4: "16px",
  s5: "24px",
  s6: "32px",
  s7: "40px",
  s8: "48px",
  s9: "64px",
  s10: "96px",
  s11: "160px",
);

// 字号
$font: (
  // 字号 行高
  f1: ("36px", "44px"),
  f2: ("20px", "28px"),
  f3: ("16px", "24px"),
  f4: ("14px", "22px"),
  f5: ("12px", "20px")
);

// 圆角
$radius: (
  r1: "3px",
);

// 颜色
$board: (
  // 基础色
  primary-1: (#ecf2fe, #1b2f51),
  primary-2: (#d4e3fc, #173463),
  primary-3: (#bbd3fb, #143975),
  primary-4: (#96bbf8, #103d88),
  primary-5: (#699ef5, #0d429a),
  primary-6: (#4787f0, #054bbe),
  primary-7: (#266fe8, #2667d4),
  primary-8: (#0052d9, #4582e6),
  primary-9: (#0034b5, #699ef5),
  primary-10: (#001f97, #96bbf8),
  warning-1: (#fef3e6, #4f2a1d),
  warning-2: (#f9e0c7, #582f21),
  warning-3: (#f7c797, #733c23),
  warning-4: (#f2995f, #a75d2b),
  warning-5: (#ed7b2f, #cf6e2d),
  warning-6: (#d35a21, #dc7633),
  warning-7: (#ba431b, #e8935c),
  warning-8: (#9e3610, #ecbf91),
  warning-9: (#842b0b, #eed7bf),
  warning-10: (#5a1907, #f3e9dc),
  error-1: (#fdecee, #472324),
  error-2: (#f9d7d9, #5e2a2d),
  error-3: (#f8b9be, #703439),
  error-4: (#f78d94, #83383e),
  error-5: (#f36d78, #a03f46),
  error-6: (#e34d59, #c64751),
  error-7: (#c9353f, #de6670),
  error-8: (#b11f26, #ec888e),
  error-9: (#951114, #edb1b6),
  error-10: (#680506, #eeced0),
  success-1: (#e8f8f2, #193a2a),
  success-2: (#bcebdc, #1a4230),
  success-3: (#85dbbe, #17533d),
  success-4: (#48c79c, #0d7a55),
  success-5: (#00a870, #059465),
  success-6: (#078d5c, #43af8a),
  success-7: (#067945, #46bf96),
  success-8: (#056334, #80d2b6),
  success-9: (#044f2a, #b4e1d3),
  success-10: (#033017, #deede8),
  gray-1: (#f3f3f3, #181818),
  gray-2: (#eee, #242424),
  gray-3: (#e7e7e7, #2c2c2c),
  gray-4: (#dcdcdc, #383838),
  gray-5: (#c5c5c5, #4b4b4b),
  gray-6: (#a6a6a6, #5e5e5e),
  gray-7: (#8b8b8b, #777),
  gray-8: (#777, #8b8b8b),
  gray-9: (#5e5e5e, #a6a6a6),
  gray-10: (#4b4b4b, #c5c5c5),
  gray-11: (#383838, #dcdcdc),
  gray-12: (#2c2c2c, #e7e7e7),
  gray-13: (#242424, #eee),
  gray-14: (#181818, #f3f3f3)
);
$colors: (
  // 基础色
  default: map.get($board, "gray-4"),
  default-hover: map.get($board, "gray-5"),
  default-focus: map.get($board, "gray-2"),
  default-active: map.get($board, "gray-6"),
  default-disabled: map.get($board, "gray-3"),
  default-light: map.get($board, "gray-1"),
  // 主要色
  primary: map.get($board, "primary-8"),
  primary-hover: map.get($board, "primary-7"),
  primary-focus: map.get($board, "primary-2"),
  primary-active: map.get($board, "primary-9"),
  primary-disabled: map.get($board, "primary-3"),
  primary-light: map.get($board, "primary-1"),
  // 警告色
  warning: map.get($board, "warning-5"),
  warning-hover: map.get($board, "warning-4"),
  warning-focus: map.get($board, "warning-2"),
  warning-active: map.get($board, "warning-6"),
  warning-disabled: map.get($board, "warning-3"),
  warning-light: map.get($board, "warning-1"),
  // 错误色
  error: map.get($board, "error-6"),
  error-hover: map.get($board, "error-5"),
  error-focus: map.get($board, "error-2"),
  error-active: map.get($board, "error-7"),
  error-disabled: map.get($board, "error-3"),
  error-light: map.get($board, "error-1"),
  // 成功色
  success: map.get($board, "success-5"),
  success-hover: map.get($board, "success-4"),
  success-focus: map.get($board, "success-2"),
  success-active: map.get($board, "success-6"),
  success-disabled: map.get($board, "success-3"),
  success-light: map.get($board, "success-1"),
  // 文本色
  gray-1: map.get($board, "gray-1"),
  gray-2: map.get($board, "gray-2"),
  gray-3: map.get($board, "gray-3"),
  gray-4: map.get($board, "gray-4"),
  gray-5: map.get($board, "gray-5"),
  gray-6: map.get($board, "gray-6"),
  gray-7: map.get($board, "gray-7"),
  gray-8: map.get($board, "gray-8"),
  gray-9: map.get($board, "gray-9"),
  gray-10: map.get($board, "gray-10"),
  gray-11: map.get($board, "gray-11"),
  gray-12: map.get($board, "gray-12"),
  gray-13: map.get($board, "gray-13"),
  gray-14: map.get($board, "gray-14")
);

@function get-color($name) {
  @return var(--linson-color-#{$name}, list.nth(map.get($colors, $name), 1));
}
