@import "../../common/styles/theme.scss";

.l-space {
  &.l-space-direction-horizontal {
    display: inline-flex;
    flex-direction: row;
  }

  &.l-space-direction-vertical {
    display: flex;
    flex-direction: column;
  }
}
