@import "../../common/styles/theme.scss";

.l-form-item {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 24px;

  .l-form-item-label {
    label {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 28px;

      &::before {
        display: inline-block;
        margin-right: 4px;
        font-size: 14px;
        color: get-color("error");
        line-height: 1;
        content: "*";
      }

      &::after {
        content: ":";
        position: relative;
        top: -0.5px;
        margin: 0 8px 0 2px;
      }
    }
  }

  .l-form-item-control-explain {
    display: none;
    height: 24px;
    color: red;
  }

  &.l-form-item-has-error {
    margin-bottom: 0;

    .l-form-item-control-explain {
      display: block;
      font-size: 14px;
    }
  }
}
