@import "../../common/styles/theme.scss";

.l-dialog {
  display: flex;
  flex-direction: column;
  color: var(--linson-color-gray-12);
  background-color: white;

  .l-dialog_title {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
  }

  .l-dialog_content {
    padding: 16px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
  }

  .l-dialog_footer {
    display: flex;
    column-gap: 16px;
    justify-content: end;
    border-top: 1px solid #f0f0f0;
    padding: 10px 16px;
    font-size: 14px;
  }
}

.l-dialog-provider {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  overflow: visible;
  height: 0;

  .l-dialog-provider-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0 0 0 / 45%);
  }
}
