@import "../../common/styles/theme.scss";

.l-tabs {
  display: flex;
  width: 100%;

  &.l-tabs-position-top {
    flex-direction: column;
  }

  &.l-tabs-position-right {
    flex-direction: row;
  }

  &.l-tabs-position-bottom {
    flex-direction: column;
  }

  &.l-tabs-position-left {
    flex-direction: row;
  }

  .l-tabs-nav {
    position: relative;
    display: flex;
    gap: "16px";
    border-bottom: 1px solid get-color("gray-2");

    .l-tabs-tab {
      position: relative;
      display: inline-flex;
      align-items: center;
      padding: 12px 0;
      font-size: 14px;
      cursor: pointer;

      & + .l-tabs-tab {
        margin-left: 16px;
      }

      &.l-tabs-tab-active {
        color: get-color("primary");
      }
    }

    .l-tabs-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 30px;
      height: 2px;
      background-color: get-color("primary");
      transition: all 0.3s;
    }
  }

  .l-tabs-content {
    .l-tab-pane {
      display: none;

      &.l-tab-pane-active {
        display: block;
      }
    }
  }
}
