@use "sass:math";
@import "../../common/styles/theme.scss";

$height: 1.5em;
$size: $height * 0.8;

.l-switch {
  position: relative;
  display: inline-block;
  width: $height * 2;
  height: $height;
  border-radius: $height;
  background-color: get-color("gray-5");
  outline: 0;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;

  &::after {
    content: "";
    position: absolute;
    top: $height * 0.1;
    left: $height * 0.1;
    width: $size;
    height: $size;
    border-radius: $size;
    background-color: get-color("gray-white");
    transform-origin: left;
    transition-duration: 0.3s;
    transition-property: width, left;
  }

  &.l-switch-checked {
    background-color: get-color("primary");

    &::after {
      left: $height * 1.1;
      transform-origin: right;
    }
  }

  &:active {
    &::after {
      left: $height * 0.1;
      width: $size * 1.3;
    }

    &.l-switch-checked {
      &::after {
        left: $height * 0.86;
      }
    }
  }
}
