@import "../../theme.scss";
@import "../../common/common.scss";

.l-col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  @for $i from 1 through 24 {
    &.l-col-#{$i} {
      width: (100% / 24 * $i);
    }
  }
}
