@import "../../common/styles/theme.scss";

.l-divider {
  color: get-color("gray-12");
  box-sizing: border-box;

  &.l-divider-direction-horizontal {
    display: flex;
    width: 100%;
    margin: 24px 0;
    border-top: 1px solid get-color("default");
  }

  &.l-divider-direction-vertical {
    position: relative;
    top: -0.1em;
    display: inline-block;
    width: 1px;
    height: 0.9em;
    margin: 0 8px;
    background-color: get-color("default");
    vertical-align: middle;
  }
}
